body{
    background-color: rgb(148, 148, 144);
}

a{
    color: inherit;
    font-weight: 700;
}


div.indice{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 99%;
}

div.indice a{
    padding: 190px;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#botao-indice-esquerda{
    float: left;
    display: inline;
}


div#botao-indice-direita{
    float: right;
    display: inline;
}

h1{
    text-decoration: underline;
    color: rgb(255,255,255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding: 30px;
    background-color: rgb(13,212,212);
    font-weight: 900;
    text-align: center;
}

div#description-container{
    display: inline-flex;
    justify-content: center;
}


.description-left{
    padding: 1%;
    background-color: rgb(13,212,212);
    float: left;
}

.description-right {
    width: 30%;
    background-color: crimson;

}

.description-right p{
    color: white;
    float: right;
    font-size: 25px;
    padding: 2%;
    height: 80%;
}

#laine-moura-photo{
    width: 200px;
}

h2{
    text-decoration: overline underline;
    color: rgb(245,245,245);
    font-size: 25px;
}


.skills{
    background-color: rgb(13,212,212);
    opacity: 70%;
}

.skills li{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#skills-container, div#blog-container{
    display: grid;
    justify-content: center;
    text-align: center;
}

