body{
    background-color: rgb(148, 148, 144);
}

/* Inicio da barra de navegação */

.indice {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.indice a {
    color: inherit;
    font-weight: 700;
    font-size: 3.5vh;
    margin: auto;
    text-transform: uppercase;
}

.indice a:link, .indice a:visited {
    text-decoration: none;
}

.indice a:hover {
    background-color: rgb(238, 74, 63);
}

/*fim da barra de navegação*/

/*nome - titulo h1*/
h1{
    text-decoration: underline;
    color: rgb(255,255,255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding: 30px;
    background-color: rgb(13,212,212);
    font-weight: 900;
    text-align: center;
}

main{ 
    float: left ;
}

/* parte principal; foto lado esquerdo e desc do lado direito */

#description-container{
    display: inline-flex;
    justify-content: center;
}


.description-left{
    padding: 1%;
    background-color: rgb(13,212,212);
    float: left;
    border-radius: 50%;
}

#laine-moura-photo{
    width: 200px;
    border-radius: 50%;
}

.description-right {
    width: 30%;
    background-color: crimson;
    border-radius: 5%;
    margin-left: 2%;
    float: right;
}

.description-right p{
    color: white;
    font-size: 25px;
    padding: 2%;
    height: 80%;
}

/*fim da secao de descrição*/


/*inicio de habilidades */

h2{
    text-decoration: overline underline;
    color: rgb(245,245,245);
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    display: list-item;
}

#skills-container {
    display: flex;
}
.skills, .skills-to-learn{
    background-color: rgb(13,212,212);
    opacity: 70%;
}

.skills li, .skills-to-learn{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#skills-container, #sobre-mim-container{
    justify-content: center;
    text-align: center;
}

/*fim de habilidades*/

/*sobre mim*/

#sobre-mim-container h4 {
    color: white;
    font-size: 3vh;
}

iframe {
    font-size: 3vh;
    padding-top: 3%;
    border-top: 3px dotted darkturquoise;
}



@media only screen and (max-device-width:375px){

    #indice-container-and-description-container, #skills-container-and-sobre-mim-container{
        height: 650px;
        display: grid;
    }

    .indice a {
        padding: 10px;
    }

    h1{
        width: 300px;
        font-size: 20px;
    
    }

    #laine-moura-photo, .description-left{
        width: 150px;
    }

    .description-left{
        margin: auto;
    }

    .description-right{
        width: 210px;
    }

    .description-right p{
        text-align: center;
        font-size: 18px;
    }

    #skills-container{
        display: flex;
    }

    #skills-container, #sobre-mim-container{ 
        justify-content: center;
        text-align: center;
    }


    /*sobre mim - FINAL DA PAGINA*/

    #sobre-mim-container h4 {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(252,252,252);

    }

}
